input {
    border: none;
    border-radius: 0.4rem;
    padding: 5px 10px;
}

body {
    font-family: Georgia, serif;
    /* overflow: hidden; */
}

/* #m-left-col > .row, #m-right-col > .row, #m-top-row > .row {
    background-color: green;
} */

#m-upper-set-of-cards > img, #m-below-set-of-cards > img {
    max-height: 100%; max-width: 100%
}

.m-active-card {
    transform: translate(0%, -50%);
}

.m-player-represent {
    background-color: rgb(209, 165, 173);
    margin: auto;
    padding: 5px 10px;
    border-radius: 5px;
    /* border: 2px solid black; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.m-active-player {
    border-radius: 5px;
    background-color: rgb(244, 244, 150) !important;
    box-shadow: 0 0 12px rgb(202, 202, 55) !important;
}

.m-curr-player {
    position: relative;
}

.m-player-call-uno {
    border: 2px solid rgb(193, 15, 15);
    border-radius: 5px;
}

#m-curr-player-slot > div {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#m-curr-card-slot {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /* transform: rotate(35deg); */
}

.m-curr-card {
    width: 30%;
}

#m-drawed-card-slot {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 100;   
}

.m-drawed-card {
    width: 50%;
}

#m-button-draw {
    padding: 10px 40px;
    border-radius: 15px;
    position: absolute;
    top: 30%;
    left: 80%;
    transform: translate(-50%, -50%);
}

#m-button-play {
    padding: 10px 40px;
    border-radius: 15px;
    position: absolute;
    top: 60%;
    left: 80%;
    transform: translate(-50%, -50%);
}


#m-button-call-uno {
    padding: 30px 30px;
    border-radius: 15px;
    position: absolute;
    top: 45%;
    left: 20%;
    transform: translate(-50%, -50%);
}

#m-button-drawed-play {
    z-index: 100;
    padding: 20px 40px;
    border-radius: 15px;
    position: absolute;
    top: 30%;
    left: 62%;
    transform: translate(-50%, -50%);
}

#m-button-drawed-skip {
    z-index: 100;
    padding: 20px 40px;
    border-radius: 15px;
    position: absolute;
    top: 60%;
    left: 62%;
    transform: translate(-50%, -50%);
}
