body {
    font-family: Georgia, serif;
    /* overflow: hidden; */
}

/* #m-left-col > .row, #m-right-col > .row, #m-top-row > .row {
    background-color: green;
} */

.m-card-row {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.m-player-represent {
    /* background-color: pink; */
    margin: auto;
    padding: 5px 10px;
    border-radius: 5px;
    /* border: 2px solid black; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.m-active-player {
    background-color: rgb(244, 244, 150);
    box-shadow: 0 0 12px rgb(202, 202, 55);;
}

#m-curr-card-slot {
    position: absolute;
    left: 42%;
    top: 35%;
    transform: rotate(35deg);
}

.m-curr-card {
    width: 30%;
}

#m-drawed-card-slot {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 100;   
}

.m-drawed-card {
    width: 50%;
}

#m-button-draw {
    padding: 10px 20px;
    border-radius: 15px;
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50%, -50%);
}

#m-button-play {
    padding: 10px 20px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

#m-button-drawed-play {
    z-index: 100;
    padding: 20px 40px;
    border-radius: 15px;
    position: absolute;
    top: 30%;
    left: 62%;
    transform: translate(-50%, -50%);
}

#m-button-drawed-skip {
    z-index: 100;
    padding: 20px 40px;
    border-radius: 15px;
    position: absolute;
    top: 60%;
    left: 62%;
    transform: translate(-50%, -50%);
}

#m-button-call-uno {
    padding: 10px 20px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}